{{> header}}

<!-- Content Start -->

<div
  class="container-fluid bg-transparent d-flex align-items-center justify-content-center"
>
  <div class="container-form col-lg-5 col-md-6 col-sm-12 my-5">
    <h2 class="text-center text-var-white fw-bold">Post New Blog</h2>
    <form class="mt-4 text-var-white" action="/blog" method="POST">
      <div class="mb-3">
        <label for="inputTitle" class="form-label"
          >Title</label
        >
        <input name="inputTitle" type="text" class="form-control" id="inputTitle" />
      </div>

      <div class="mb-3">
        <label for="inputContent" class="form-label"
          >Content</label
        >
        <textarea
          type="text"
          class="form-control"
          id="inputContent"
          rows="5"
          name="inputContent"
        ></textarea>
      </div>

      <div class="mb-3">
        <label
          for="inputImage"
          class="form-label"
        >
          Upload Image
        </label>
        <input
          class="form-control"
          type="file"
          id="inputImage"
          name="inputImage"
        />
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
        <button
          class="btn bg-var-blue text-var-white fw-bold"
          type="submit"
        >
          Post Blog
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Content End -->

{{> footer}}