{{> header}}

<!-- Content Start -->

<div class="container-fluid main-content bg-transparent">
  {{#if messages.success}}
  <div class="row">
    <div class="alert alert-success col-4 offset-4 mt-3" role="alert">
      {{messages.success}}
    </div>
  </div>
  {{/if}}

  <div
    class="container-sm-fluid container-lg d-lg-flex justify-content-lg-between"
  >

    <!-- Card -->

    <div
      id="profileCard" class="card bg-white-transparent-high col-lg-4 col-sm-12 my-5 shadow-lg p-3 rounded-3"
    >
      <img
        src="../public/img/leo.png"
        class="card-img-top rounded-3"
        alt="..."
      />
      <div class="card-body">
        <h5 class="card-title text-var-blue fw-bold">Karunia Leo Gultom</h5>
        <p class="card-text text-var-gray">
          A professional young Website Developer who loves to code
          anywhere, anytime.
        </p>
      </div>
      <table class="table table-striped">
        <thead class="text-var-blue">
          <tr>
            <th scope="col">#</th>
            <th scope="col" colspan="2">Experience</th>
            <th scope="col">Year</th>
          </tr>
        </thead>
        <tbody>
          {{#each exps}}
          <tr>
            <th scope="row">{{this.id}}</th>
            <td colspan="2">{{this.experience}}</td>
            <td>{{this.year}}</td>
          </tr>
          {{/each}}
        </tbody>
      </table>
    </div>

    <div
      class="text bg-transparent text-var-white col-lg-8 col-sm-12 my-5 p-lg-3 p-sm-1"
    >
      <div id="profileDesc" class="row">
        <div class="col-12">
          <h2 class="fw-bold text-var-white">What I do?</h2>
          <p>
            We build you an Innovative, communicative and outstanding
            sites that makes your business stands out between the others.
            Company landing page? Websites for school Databases? Or even
            just a personal portfolio websites? FULLY CUSTOMIZED User
            Interface? No worries! We can afford what you need to enlarge
            your business, to enlighten you, because we help you through
            innovative website.
          </p>
        </div>
      </div>

      <div class="row">
        <div id="profileJS" class="col-lg-4 col-sm-12">
          <img src="../public/img/js.png" alt="Javascript" />
          <h5 class="my-3 fw-bold">Frontend Development</h5>
          <p>
            We build your site with outstanding User Interface that will
            bring your site stands out.
          </p>
        </div>
        <div id="profileGit" class="col-lg-4 col-sm-12">
          <img src="../public/img/git.png" alt="" />
          <h5 class="my-3 fw-bold">Version Control System</h5>
          <p>
            We use github to keep your website updated, in-control,
            seamlessly.
          </p>
        </div>
        <div id="profileDeploy" class="col-lg-4 col-sm-12">
          <img src="../public/img/deploy.png" alt="" />
          <h5 class="my-3 fw-bold">Automatic Deployment</h5>
          <p>
            We deploy your site through Netlify, a very fast and
            professional web hosting.
          </p>
        </div>
      </div>

      <hr />

      <div id="profileSocials" class="row social-section">
        <h2 class="fw-bold text-var-white my-3">Find Me on</h2>
        <ul
          class="nav ps-2 col-lg-6 col-sm-12 d-flex justify-content-between"
        >
          <li class="nav-item rounded-circle bg-white-transparent-low">
            <a class="nav-link p-0" href="https://www.facebook.com/leo.karunia"><img
                src="../public/img/facebook.png"
                alt="facebook"
                width="40"
              /></a>
          </li>
          <li class="nav-item rounded-circle bg-white-transparent-low">
            <a class="nav-link p-0" href="https://twitter.com/karunialeo"><img
                src="../public/img/twitter.png"
                alt="twitter"
                width="40"
              /></a>
          </li>
          <li class="nav-item rounded-circle bg-white-transparent-low">
            <a class="nav-link p-0" href="https://www.instagram.com/karunialeo/"><img
                src="../public/img/instagram.png"
                alt="instagram"
                width="40"
              /></a>
          </li>
          <li class="nav-item rounded-circle bg-white-transparent-low">
            <a class="nav-link p-0" href="karunialeo@gmail.com"><img
                src="../public/img/mail.png"
                alt="email"
                width="40"
              /></a>
          </li>
          <li class="nav-item rounded-circle bg-white-transparent-low">
            <a class="nav-link p-0" href="https://wa.me/6282183738255"><img
                src="../public/img/whatsapp.png"
                alt="whatsapp.png"
                width="40"
              /></a>
          </li>
        </ul>
      </div>

    </div>

  </div>
</div>

<!-- Content End -->

{{> footer}}