{{> header}}

<!-- Content Start -->

<div
  class="container-fluid bg-transparent d-flex align-items-center justify-content-center"
>
  <div class="container-form col-lg-4 col-md-6 col-sm-12 my-5">
    <h2 class="text-center text-var-white fw-bold">Login</h2>
    {{#if messages.danger}}
    <div class="alert alert-danger alert-dismissible fade show" role="alert">
      {{messages.danger}}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    {{/if}}
    <form class="mt-4 text-var-white" action="/login" method="POST">
      <div class="mb-3">
        <label for="inputEmail" class="form-label"
          >Email</label
        >
        <input name="inputEmail" type="email" class="form-control" id="inputEmail" autofocus/>
      </div>
      
      <label for="inputPassword" class="form-label">Password</label>
      <div class="input-group mb-3">
        <input name="inputPassword" type="password" class="form-control" id="inputPassword" aria-describedby="toggleVisiblePassword">
        <button class="btn bg-var-white btn-outline-success" type="button" id="toggleVisiblePassword">
          <i id="toggleVisibilityIcon" class="bi bi-eye-slash-fill"></i>
        </button>
      </div>

      <div class="d-grid gap-2 d-md-flex justify-content-md-center mt-4">
        <button
          class="btn bg-success text-var-white fw-bold"
          type="submit"
        >
          Login
        </button>
      </div>
    </form>
  </div>
</div>

<!-- Content End -->

{{> footer}}