:root {
  --blue: #246084;
  --white: #f4f3f3;
  --lightgray: #b4b4b4;
  --gray: #777;
}

.add-blog-content {
  min-height: 92vh;
}

form .btn {
  transition: all 0.3s ease;
}

form .btn:hover {
  color: var(--white);
  box-shadow: 0 0 20px var(--lightgray);
}
